openapi: 3.0.3
info:
  title: Payblis REST API
  version: "1.0.0"
servers:
  - url: https://pay.payblis.com

paths:
  /api/REST/create-order.php:
    post:
      summary: Create Order
      operationId: createOrder
      description: |
        Signature requise :
        `X-Payblis-Signature = HMAC-SHA256(body_json_minified, secret_key)`

        ⚠️ Le body signé doit être EXACTEMENT celui envoyé (idéalement JSON minifié).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, RefOrder, Customer_Email]
              properties:
                amount: { type: number, example: 1 }
                RefOrder: { type: string, example: "ord-api-4554854" }
                Customer_Email: { type: string, example: "jonathanpetit27310@gmail.com" }
                Customer_Name: { type: string, example: "Petit" }
                Customer_FirstName: { type: string, example: "Jonathan" }
                country: { type: string, example: "FR" }
                userIP: { type: string, example: "192.168.1.1" }
                lang: { type: string, example: "fr" }
                store_name: { type: string, example: "Example Store" }
                urlOK: { type: string, example: "https://pay.payblis.com/testing/success" }
                urlKO: { type: string, example: "https://pay.payblis.com/testing/failed" }
                ipnURL: { type: string, example: "https://pay.payblis.com/testing/test-ipn.php" }
                cardHolderName: { type: string, example: "Jonathan Petit" }
                cardno: { type: string, example: "4556557955726624" }
                expMonth: { type: string, example: "11" }
                expYear: { type: string, example: "2028" }
                CVN: { type: string, example: "485" }
      parameters: []
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
