{
  "openapi": "3.1.0",
  "info": {
    "title": "Payblis REST API",
    "description": "Modern REST API for flexible payment integration",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pay.payblis.com"
    }
  ],
  "paths": {
    "/api/REST/create-order": {
      "post": {
        "description": "Create a new payment order",
        "parameters": [
          {
            "name": "X-Merchant-Key",
            "in": "header",
            "description": "Your merchant key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Payblis-Signature",
            "in": "header",
            "description": "HMAC-SHA256 signature",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Must be application/json",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "Order details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ThreeDSResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/REST/transaction-status": {
      "get": {
        "description": "Check transaction status",
        "parameters": [
          {
            "name": "X-Merchant-Key",
            "in": "header",
            "description": "Your merchant key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Must be application/json",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "Transaction reference",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ref_order": {
                    "type": "string",
                    "description": "Reference order number"
                  }
                },
                "required": ["ref_order"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateOrderRequest": {
        "type": "object",
        "required": ["amount", "RefOrder"],
        "properties": {
          "amount": {
            "type": "string",
            "description": "Payment amount",
            "example": "19.99"
          },
          "RefOrder": {
            "type": "string",
            "description": "Merchant reference order number",
            "example": "ORDER-123"
          },
          "Customer_Email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address",
            "example": "customer@example.com"
          },
          "Customer_Name": {
            "type": "string",
            "description": "Customer last name",
            "example": "Doe"
          },
          "Customer_FirstName": {
            "type": "string",
            "description": "Customer first name",
            "example": "John"
          },
          "country": {
            "type": "string",
            "description": "Customer country",
            "example": "France"
          },
          "userIP": {
            "type": "string",
            "format": "ipv4",
            "description": "Customer IP address",
            "example": "127.0.0.1"
          },
          "lang": {
            "type": "string",
            "description": "Language code",
            "example": "en"
          },
          "store_name": {
            "type": "string",
            "description": "Store name",
            "example": "Example Store"
          },
          "urlOK": {
            "type": "string",
            "format": "uri",
            "description": "Success redirect URL",
            "example": "https://your-domain.com/success"
          },
          "urlKO": {
            "type": "string",
            "format": "uri",
            "description": "Failure redirect URL",
            "example": "https://your-domain.com/failed"
          },
          "ipnURL": {
            "type": "string",
            "format": "uri",
            "description": "Instant Payment Notification URL",
            "example": "https://your-domain.com/ipn"
          },
          "cardHolderName": {
            "type": "string",
            "description": "Cardholder name",
            "example": "JOHN DOE"
          },
          "cardno": {
            "type": "string",
            "description": "Card number",
            "example": "4556557955726624"
          },
          "expMonth": {
            "type": "string",
            "description": "Card expiration month",
            "example": "12"
          },
          "expYear": {
            "type": "string",
            "description": "Card expiration year",
            "example": "2025"
          },
          "CVN": {
            "type": "string",
            "description": "Card verification number",
            "example": "123"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "status": {
            "type": "string",
            "example": "success"
          },
          "transaction_id": {
            "type": "string",
            "example": "PAYB-123456"
          },
          "ref_order": {
            "type": "string",
            "example": "ORDER-123"
          },
          "amount": {
            "type": "string",
            "example": "19.99"
          }
        }
      },
      "ThreeDSResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "status": {
            "type": "string",
            "example": "pending3ds"
          },
          "transaction_id": {
            "type": "string",
            "example": "PAYB-123456"
          },
          "ref_order": {
            "type": "string",
            "example": "ORDER-123"
          },
          "amount": {
            "type": "string",
            "example": "19.99"
          },
          "three_ds_url": {
            "type": "string",
            "description": "URL for 3D Secure challenge"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "status": {
            "type": "string",
            "example": "failed"
          },
          "error_code": {
            "type": "string",
            "example": "card_declined"
          },
          "error_message": {
            "type": "string",
            "example": "Card was declined"
          },
          "ref_order": {
            "type": "string",
            "example": "ORDER-123"
          },
          "amount": {
            "type": "string",
            "example": "19.99"
          }
        }
      },
      "TransactionStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "status": {
            "type": "string",
            "example": "success"
          },
          "data": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "string",
                "example": "19.99"
              },
              "payment_fees": {
                "type": "string",
                "example": "0.29"
              },
              "company_fees": {
                "type": "string",
                "example": "0.00"
              },
              "total_net": {
                "type": "string",
                "example": "19.70"
              },
              "is_3ds": {
                "type": "boolean",
                "example": false
              },
              "status": {
                "type": "string",
                "example": "paid"
              },
              "payout_status": {
                "type": "string",
                "example": "yes"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-03-11 13:11:30"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "example": "2025-03-11 13:11:35"
              },
              "reference": {
                "type": "string",
                "example": "ORDER-123"
              },
              "customer": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "customer@example.com"
                  },
                  "first_name": {
                    "type": "string",
                    "example": "John"
                  },
                  "country": {
                    "type": "string",
                    "example": "France"
                  }
                }
              },
              "store": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Example Store"
                  }
                }
              },
              "merchant": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "20"
                  },
                  "name": {
                    "type": "string",
                    "example": "Test_merchant"
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "merchantKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Merchant-Key"
      },
      "signatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Payblis-Signature"
      }
    }
  },
  "security": [
    {
      "merchantKeyAuth": []
    },
    {
      "signatureAuth": []
    }
  ]
}